@include mediaMenu {
  .top-contacts {
    background: $darkColor;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;

    ul {
      list-style: none;
      overflow: hidden;
      padding: 0;
      text-align: center;
      margin: 0;
      line-height: 40px !important;
    }

    ul li {
      display: inline-block;
      padding: 0 10px !important;
      margin: 0;

      &.instagram,
      &.facebook {
        float: none !important;
      }
    }

    ul li a {
      i {
        line-height: 40px;
      }
    }

  }


  nav {
    position: relative;
    line-height: 0px;
  }

  .logo {
    position: absolute;
    margin-top: -35px;
  }

  nav ul {
    max-height: 0px;
    transition: linear 250ms;
    -webkit-transition: linear 250ms;
    -moz-transition: linear 250ms;
    -ms-transition: linear 250ms;
    -o-transition: linear 250ms;
  }

  .showing {
    position: relative;
    z-index: 99;
    max-height: 34em;
    background: $darkColor;
    transition: all ease-in-out 1000ms;
    -webkit-transition: all ease-in-out 1000ms;
    -moz-transition: all ease-in-out 1000ms;
    -ms-transition: all ease-in-out 1000ms;
    -o-transition: all ease-in-out 1000ms;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }

  // .jumbotron h2 {
  //   text-align: center !important;
  //   color: $headingsFontColor;
  //   font-family: "Roboto Condensed", sans-serif;
  //   font-style: normal;
  //   font-weight: bold;
  //   font-size: 62px !important;
  //   line-height: 47px;
  //   letter-spacing: -0.05em;
  //   margin-bottom: 40px;
  // }

  .cars-card {

    .card {
      max-width: 580px;
      min-width: 200px;
    }

    h2 {
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 62px;
      line-height: 39px;
      letter-spacing: -0.05em;
      color: $headingsFontColor;
      margin: 40px 0;
      text-align: center;
    }
  }




  .display {
    height: 100%;
    min-height: 300px;
    max-height: 400px;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.35);
    border-radius: 0 !important;
    background-color: $darkColor !important;
    margin-top: 40px;
    margin-bottom: 40px;


    p {
      text-align: center;
    }

    h2 {
      font-family: $mainFont;
      font-style: normal;
      font-weight: bold;
      font-size: 30px !important;
      line-height: normal;
      letter-spacing: 0;

      color: $lightColor !important;
    }

  }




  .display {
    height: 100%;
    min-height: 300px;
    max-height: 400px;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.35);
    border-radius: 0 !important;
    background-color: $darkColor !important;
    margin-top: 40px;
    margin-bottom: 40px;


    p {
      text-align: center;
    }

    h2 {
      font-family: $mainFont;
      font-style: normal;
      font-weight: bold;
      font-size: 30px !important;
      line-height: normal;
      letter-spacing: 0;

      color: $lightColor !important;
    }
  }


}

@include mediaXl {}

@include mediaLg2 {
  .hide {
    display: none;
  }

  .contact {
    .card {
      background: $lightColor;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
      border-radius: 20px;
      height: 350px;
    }

    h3 {
      font-family: $secondaryFont;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: normal;
      color: $darkColor;

      span.red {
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: normal;
        color: $redColor;
      }
    }

    input,
    select {
      height: 40px;
      margin-top: 10px;
      border: 2px solid $borderColor;
      box-sizing: border-box;
      border-radius: 50px;
      font-family: $mainFont;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: normal;
      color: $headingsFontColor;

      &:focus {
        border: 2px solid $redColor;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
      }
    }

    select {
      font-family: $mainFont;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: normal;
      color: $darkColor;
    }

    p {
      margin-top: -80px;
      font-family: $mainFont;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: normal;
      color: $darkColor;
    }

    .contact-btn {
      padding: 10px 35px;
      background: $redColor;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
      border-radius: 50px;
      font-family: $secondaryFont;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: normal;
      text-align: center;
      color: $lightColor;
      border: none;
      margin-top: 40px;
    }
  }

  .top-grid {

    h1 {
      text-align: center !important;
    }

    .row {
      margin-left: 80px;
      margin-right: 40px;
    }

    a img {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
      opacity: 0.9;
      transition: all ease-in-out 300ms;
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;

      &:hover {
        opacity: 1;
        text-decoration: none;
        color: $redColor;
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
      }

      &.one {
        width: 249.306666667px !important;
        height: 273.333333333px !important;
        border-radius: 20px 0 0 0;
        -webkit-border-radius: 20px 0 0 0;
        -moz-border-radius: 20px 0 0 0;
        -ms-border-radius: 20px 0 0 0;
        -o-border-radius: 20px 0 0 0;
      }

      &.two {
        width: 520.066666667px !important;
        height: 226.666666667px !important;
        border-radius: 0 20px 0 0;
        -webkit-border-radius: 0 20px 0 0;
        -moz-border-radius: 0 20px 0 0;
        -ms-border-radius: 0 20px 0 0;
        -o-border-radius: 0 20px 0 0;
      }

      &.three {

        width: 249.306666667px !important;
        height: 354.666666667px !important;
      }

      &.four {

        width: 298.88px !important;
        height: 182.666666667px !important;
      }

      &.five {

        width: 217.233333333px !important;
        height: 182.666666667px !important;
      }

      &.six {

        width: 518.733333333px !important;
        height: 212px !important;
      }

      &.seven {
        width: 770.666666667px !important;
        height: 242.666666667px !important;
        border-radius: 0 0 20px 20px;
        -webkit-border-radius: 0 0 20px 20px;
        -moz-border-radius: 0 0 20px 20px;
        -ms-border-radius: 0 0 20px 20px;
        -o-border-radius: 0 0 20px 20px;
      }


    }

    .col-md {

      margin: 0;
      padding: 0;
      margin-top: -1.8rem !important;
      margin-left: -4rem !important;
    }

  }

  .jumbotron {

    margin-right: 0px;

    &.recomendations {
      padding-left: 0px;
      padding-right: 2rem;

      h2 {
        text-align: center !important;
      }

      .item {
        margin-left: 0px;
      }
    }
  }


}

@include mediaLg {
  .hide {
    display: none;
  }

  .contact {
    .card {
      background: $lightColor;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
      border-radius: 20px;
      height: 350px;

      form {
        padding-left: 20px;
        padding-right: 20px;
      }

    }

    h3 {
      font-family: $secondaryFont;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: normal;
      color: $darkColor;

      span.red {
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: normal;
        color: $redColor;
      }
    }

    input,
    select {
      height: 40px;
      margin-top: 10px;
      border: 2px solid $borderColor;
      box-sizing: border-box;
      border-radius: 50px;
      font-family: $mainFont;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: normal;
      color: $headingsFontColor;

      &:focus {
        border: 2px solid $redColor;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
      }
    }

    select {
      font-family: $mainFont;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: normal;
      color: $darkColor;
    }

    p {
      margin-top: -80px;
      font-family: $mainFont;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: normal;
      color: $darkColor;
    }

    .contact-btn {
      padding: 10px 35px;
      background: $redColor;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
      border-radius: 50px;
      font-family: $secondaryFont;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: normal;
      text-align: center;
      color: $lightColor;
      border: none;
      margin-top: 40px;
    }
  }

  .top-grid {

    h1 {
      text-align: center !important;
    }

    .row {
      margin-left: 80px;
      margin-right: 40px;
    }

    a img {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
      opacity: 0.9;
      transition: all ease-in-out 300ms;
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;

      &:hover {
        opacity: 1;
        text-decoration: none;
        color: $redColor;
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
      }

      &.one {
        width: 186.98px !important;
        height: 205px !important;
        border-radius: 20px 0 0 0;
        -webkit-border-radius: 20px 0 0 0;
        -moz-border-radius: 20px 0 0 0;
        -ms-border-radius: 20px 0 0 0;
        -o-border-radius: 20px 0 0 0;
      }

      &.two {
        width: 390.05px !important;
        height: 170px !important;
        border-radius: 0 20px 0 0;
        -webkit-border-radius: 0 20px 0 0;
        -moz-border-radius: 0 20px 0 0;
        -ms-border-radius: 0 20px 0 0;
        -o-border-radius: 0 20px 0 0;
      }

      &.three {

        width: 186.98px !important;
        height: 266px !important;
      }

      &.four {

        width: 224.16px !important;
        height: 137px !important;
      }

      &.five {

        width: 162.925px !important;
        height: 137px !important;
      }

      &.six {

        width: 389.05px !important;
        height: 159px !important;
      }

      &.seven {
        width: 578px !important;
        height: 182px !important;
        border-radius: 0 0 20px 20px;
        -webkit-border-radius: 0 0 20px 20px;
        -moz-border-radius: 0 0 20px 20px;
        -ms-border-radius: 0 0 20px 20px;
        -o-border-radius: 0 0 20px 20px;
      }

    }

    .col-md {

      margin: 0;
      padding: 0;
      margin-top: -1rem !important;
      margin-left: -0.99rem !important;
    }

  }

  .jumbotron {
    margin-right: 0px;

    &.recomendations {
      padding-left: 0px;
      padding-right: 0px;

      h2 {
        text-align: center !important;
      }

      .item {
        margin-left: -12px;
      }
    }
  }





}

@include mediaMd {

  .hide,
  .hide-md {
    display: none;
  }

  .contact {
    .card {
      background: $lightColor;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
      border-radius: 20px;
      height: 100%;
      min-height: 330px;
      padding-bottom: 5rem !important;

      form {
        padding-left: 10px;
        padding-right: 10px;
      }

    }

    h3 {
      font-family: $secondaryFont;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: normal;
      color: $darkColor;

      span.red {
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: normal;
        color: $redColor;
      }
    }

    input,
    select {
      height: 40px;
      margin-top: 10px;
      border: 2px solid $borderColor;
      box-sizing: border-box;
      border-radius: 50px;
      font-family: $mainFont;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: normal;
      color: $headingsFontColor;

      &:focus {
        border: 2px solid $redColor;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
      }
    }

    select {
      font-family: $mainFont;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: normal;
      color: $darkColor;
    }

    p {
      margin-top: -95px;
      font-family: $mainFont;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: normal;
      color: $darkColor;
    }

    .contact-btn {
      padding: 10px 35px;
      background: $redColor;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
      border-radius: 50px;
      font-family: $secondaryFont;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: normal;
      text-align: center;
      color: $lightColor;
      border: none;
      margin-top: 40px;
    }
  }


  .top-grid {

    a img {
      box-shadow: none !important;
      opacity: 1 !important;
      transition: all ease-in-out 300ms;
      -webkit-transition: all ease-in-out 300ms;
      -moz-transition: all ease-in-out 300ms;
      -ms-transition: all ease-in-out 300ms;
      -o-transition: all ease-in-out 300ms;

      &:hover {
        opacity: 1;
        text-decoration: none;
        color: $redColor;
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
      }
    }

    .one,
    .two,
    .three,
    .four,
    .five,
    .six,
    .seven {
      width: 100vw !important;
      height: auto !important;
      margin: 0px 0 !important;
      padding: 5px !important;
    }

    .one {
      border-radius: 20px 20px 0 0 !important;
      -webkit-border-radius: 20px 20px 0 0 !important;
      -moz-border-radius: 20px 20px 0 0 !important;
      -ms-border-radius: 20px 20px 0 0 !important;
      -o-border-radius: 20px 20px 0 0 !important;
    }

    .two {
      border-radius: 0 !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      -ms-border-radius: 0 !important;
      -o-border-radius: 0 !important;
    }

    h1 {
      text-align: center !important;
      font-size: 62px;
      line-height: 47px;
      letter-spacing: -0.05em;
      margin-bottom: 40px;
    }

    a {
      margin: 0 auto !important;
      padding: 0 !important;

      img {
        margin: 0 auto !important;
        padding: 0 !important;
      }
    }

    .col-md {

      margin: 0 !important;
      padding: 0 !important;

      .four,
      .five,
      .six {
        width: 100vw !important;
        height: auto !important;
        margin: 0px 0 !important;
        padding: 5px !important;
      }

      a {
        margin: 0 auto !important;
        padding: 0 !important;

        img {
          margin: 0 auto !important;
          padding: 0 !important;


        }
      }

    }
  }

  footer {
    background: $darkColor;
    color: $lightColor;

    a {
      text-decoration: none;
      transition: ease-in-out 300ms;
      -webkit-transition: ease-in-out 300ms;
      -moz-transition: ease-in-out 300ms;
      -ms-transition: ease-in-out 300ms;
      -o-transition: ease-in-out 300ms;

      &:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
      }
    }

    .logo {
      position: absolute;
      line-height: 140px;
    }

    .bottom-contact {
      padding: 40px 0;
      background: $darkColor;

      ul {
        position: relative;
        display: block;
        text-align: center;
        list-style: none;
        overflow: hidden;
        padding: 0;
        margin: 0;
        margin-top: 60px;
      }

      ul li {
        display: block;
        padding: 10px 0;
        margin: 0;
      }

      ul li a {
        padding: 0;
        margin: 0;
        text-decoration: none;
        color: $lightColor;
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: normal;
        text-align: center;
        transition: all ease-in-out 300ms;
        -webkit-transition: all ease-in-out 300ms;
        -moz-transition: all ease-in-out 300ms;
        -ms-transition: all ease-in-out 300ms;
        -o-transition: all ease-in-out 300ms;

        &:hover {
          text-decoration: none;
          color: $redColor;
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
        }

        &.instagram,
        &.facebook {
          margin-left: 20px;
        }
      }
    }
  }

  footer {
    .logo {
      img {
        margin-left: calc(100vw - 65vw);
      }
    }
  }



  .jumbotron.services {

    .card-deck,
    .cards-grouppings-3,
    .testing {


      .card {

        &.two-cards-seprate-titles {
          height: 100%;
          height: 350px;
          width: 100%;

          max-width: 555px;

          hr {
            width: 100%;
            border: 0.75px solid $lightColor;
            margin: 0;
          }

          .subtext {
            font-family: $mainFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: normal;

            color: $lightColor;

            padding: 0;
          }
        }

        &.service-twelve {
          background-image: url('~assets/img/services12.png');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }

        .card-end {



          .btn {
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: normal;
            background-color: transparent;
            border: $redColor 1px solid;

            color: $lightColor;
            padding: 6px 8px;
          }
        }
      }
    }
  }





  .display {
    height: 100%;
    min-height: 300px;
    max-height: 400px;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.35);
    border-radius: 0 !important;
    background-color: $darkColor !important;
    margin-top: 40px;
    margin-bottom: 40px;


    p {
      text-align: center;
    }

    h2 {
      font-family: $mainFont;
      font-style: normal;
      font-weight: bold;
      font-size: 30px !important;
      line-height: normal;
      letter-spacing: 0;

      color: $lightColor !important;
    }
  }

  .display-inner {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
  }






  .display {
    height: 100%;
    min-height: 300px;
    max-height: 400px;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.35);
    border-radius: 0 !important;
    background-color: $darkColor !important;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  p {
    text-align: center;


    .block-one {

      background-image: url("~assets/img/Блог1-small.png");
      background-size: cover;
      background-color: rgba(0, 0, 0, 0.64);
      backdrop-filter: blur(5px);
    }

    .block-two {

      background-image: url("~assets/img/Блог2-small.png");
      background-size: cover;
      background-color: rgba(0, 0, 0, 0.64);
      backdrop-filter: blur(5px);
    }

    .block-three {

      background-image: url("~assets/img/Блог1-small.png");
      background-size: cover;
      background-color: rgba(0, 0, 0, 0.64);
      backdrop-filter: blur(5px);
    }

    h2 {
      font-family: $mainFont;
      font-style: normal;
      font-weight: bold;
      font-size: 30px !important;
      line-height: normal;
      letter-spacing: 0;

      color: $lightColor !important;
    }

    .display-inner {
      background-color: rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(5px);
    }

  }



  .shop-heading-image {


    h1 {
      font-size: 25px;
      line-height: 150px;

      color: $lightColor;


      span {
        font-family: $mainFont;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 150px;

        color: $redColor;
      }
    }
  }



}

@include mediaSm {

  .hide,
  .hide-md,
  .hide-sm {
    display: none;
  }

  .top-grid {
    h1 {
      text-align: center !important;
      font-size: 62px;
      line-height: 47px;
      letter-spacing: -0.05em;
      margin-bottom: 40px;
    }

    a {
      margin: 0 auto !important;
      padding: 0 !important;

      img {
        margin: 0 auto !important;
        padding: 0 !important;
      }
    }

    .col-md {

      margin: 0 auto !important;
      padding: 0 !important;

      a {
        margin: 0 auto !important;
        padding: 0 !important;

        img {
          margin: 0 auto !important;
          padding: 0 !important;
        }
      }

    }
  }

  .jumbotron.recomendations {
    padding-left: 20px;
    padding-right: 0px;

    h2 {
      text-align: center !important;
    }

    .item {
      margin-left: 18px;
    }
  }

  .top-contacts ul li {
    display: inline-block;
    // padding: 11px 10px !important;
    margin: 0;
    line-height: 40px;
  }


  .contact {
    .card {
      background: $lightColor;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
      border-radius: 20px;
      padding: 10px !important;
      height: 480px;

      form {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    h3 {
      font-family: $secondaryFont;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: normal;
      color: $darkColor;

      span.red {
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: normal;
        color: $redColor;
      }
    }

    input,
    select {
      height: 40px;
      margin-top: 10px;
      border: 2px solid $borderColor;
      box-sizing: border-box;
      border-radius: 50px;
      font-family: $mainFont;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: normal;
      color: $headingsFontColor;

      &:focus {
        border: 2px solid $redColor;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
      }
    }

    select {
      font-family: $mainFont;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: normal;
      color: $darkColor;
    }

    p {
      margin-top: -80px;
      font-family: $mainFont;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: normal;
      color: $darkColor;
    }

    .contact-btn {
      padding: 8px 30px;
      background: $redColor;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
      border-radius: 50px;
      font-family: $secondaryFont;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: normal;
      text-align: center;
      color: $lightColor;
      border: none;
      margin-top: 40px;
    }
  }

  .cars-card {
    margin-bottom: 40px;

    h2 {
      font-family: $secondaryFont;
      font-style: normal;
      font-weight: bold;
      font-size: 80px;
      line-height: 39px;
      letter-spacing: -0.05em;
      color: $headingsFontColor;
      margin: 40px 0;
    }


    .card {
      background: transparent;
      border-radius: 20px;

      max-width: 580px;
      height: 168px;
      margin: 5px 0;
      justify-content: center;
      justify-items: center;
      align-self: center;
      padding: 0;
      border: 0;

      h4 {
        font-family: $mainFont;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.05em;
        color: $lightColor;
        margin-right: 10px;
        background: $darkColor;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;


        span {
          font-family: $mainFont;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: normal;
          text-align: right;
          letter-spacing: 0.05em;
          color: $lightColor;
        }
      }

    }
  }

  .cars-card {
    .card {
      .work-one {
        box-sizing: border-box;
        background-image: url("~assets/img/1.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        background-origin: border-box;
        height: 100%;
        max-height: 168px;


      }

      .work-two {
        background-image: url("~assets/img/1(1).png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        background-origin: border-box;
        height: 100%;

      }

      .work-three {
        background-image: url("~assets/img/1(2).png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        background-origin: padding-box;
        height: 100%;

      }

      .work-four {
        background-image: url("~assets/img/1(3).png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        background-origin: padding-box;
        height: 100%;

      }

      .work-five {
        box-sizing: border-box;
        background-image: url("~assets/img/1(4).png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        background-origin: padding-box;
        height: 100%;

      }

      .work-six {
        background-image: url("~assets/img/1(5).png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        background-origin: padding-box;
        height: 100%;

      }

      .work-seven {
        background-image: url("~assets/img/1(6).png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        background-origin: padding-box;
        height: 100%;

      }

      .work-eight {
        background-image: url("~assets/img/1(7).png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        background-origin: padding-box;
        height: 100%;

      }
    }
  }

  footer {
    .logo {
      img {
        margin-left: calc(100vw - 70vw);
      }
    }
  }


  .shop-heading-image {
    h1 {
      font-size: 20px;
      line-height: 150px;

      color: $lightColor;


      span {
        font-size: 60px;
        line-height: 150px;

        color: $redColor;
      }
    }
  }


}

@include mediaXSm {
  .jumbotron {
    text-align: center;

    h2 {
      color: $headingsFontColor;
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 50px !important;
      line-height: 47px;
      letter-spacing: -0.05em;
      margin-bottom: 40px;
    }
  }

  .jumbotron.recomendations {
    padding-left: 10px;
    padding-right: 0px;

    h2 {
      text-align: center !important;
    }

    .item {
      margin-left: 10px;
    }
  }

  .cars-card {
    text-align: center;

    h2 {
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 39px;
      letter-spacing: -0.05em;
      color: $headingsFontColor;
      margin: 40px 0;
    }
  }

  footer {
    .logo {
      img {
        margin-left: calc(100vw - 75vw);
      }
    }
  }




  .display {
    height: 100%;
    min-height: 300px;
    max-height: 420px;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.35);
    border-radius: 0 !important;
    background-color: $darkColor !important;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .display p {
    text-align: center;
  }

  h2 {
    font-family: $mainFont;
    font-style: normal;
    font-weight: bold;
    font-size: 28px !important;
    line-height: normal;
    letter-spacing: 0;

    color: $lightColor !important;
  }






  .display {
    height: 100%;
    min-height: 300px;
    max-height: 420px;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.35);
    border-radius: 0 !important;
    background-color: $darkColor !important;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .display p {
    text-align: center;
  }


  h2 {
    font-family: $mainFont;
    font-style: normal;
    font-weight: bold;
    font-size: 28px !important;
    line-height: normal;
    letter-spacing: 0;

    color: $lightColor !important;
  }





  .shop-heading-image {
    h1 {
      font-size: 20px;
      line-height: 150px;

      color: $lightColor;


      span {
        font-size: 40px;
        line-height: 150px;

        color: $redColor;
      }
    }
  }

}

@include mediaXXSm {

  .contact {
    .card {
      form {
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }


  .jumbotron {
    text-align: center;

    h2 {
      color: $headingsFontColor;
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 42px !important;
      line-height: 47px;
      letter-spacing: -0.05em;
      margin-bottom: 40px;
    }
  }

  .cars-card {
    text-align: center;

    h2 {
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 39px;
      letter-spacing: -0.05em;
      color: $headingsFontColor;
      margin: 40px 0;
    }
  }

  .jumbotron.recomendations {
    padding-left: 20px;
    padding-right: 20px;

    h2 {
      text-align: center !important;
    }

    .item {
      margin-left: 5px;
    }

    .card-deck .card {
      width: 100%;
      max-width: 240px;
      min-width: 240px;
      height: 343px;
      background: $lightColor;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
      border-radius: 20px;
      margin-bottom: 40px;
      justify-items: center;
      margin-left: auto;
      margin-right: auto;


      hr {
        width: 80%;
        align-self: center;
        margin: 0;
        border: 1px solid $borderColor;
      }

      hr {
        width: 80%;
      }

      .card-text {
        font-family: $mainFont;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.05em;
        color: $headingsFontColor;

        span {
          font-family: $mainFont;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 10px;
          text-align: center;
        }
      }

      .btn {
        padding: 10px 28px !important;
        background: $redColor;
        border-radius: 50px;
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: normal;
        text-align: center;
        color: $lightColor;
        text-decoration: none;
        transition: ease-in-out 300ms;
        -webkit-transition: ease-in-out 300ms;
        -moz-transition: ease-in-out 300ms;
        -ms-transition: ease-in-out 300ms;
        -o-transition: ease-in-out 300ms;

        &:hover {
          color: $redColor;
          background: $lightColor;
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
        }
      }
    }
  }


  .jumbotron.services {

    .card-deck,
    .cards-grouppings-3,
    .testing {


      .card {

        &.two-cards-seprate-titles {
          height: 350px;
          width: 100%;

          max-width: 555px;

          hr {
            width: 100%;
            border: 0.75px solid $lightColor;
            margin: 0;
          }

          .subtext {
            font-family: $mainFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: normal;

            color: $lightColor;

            padding: 0;
          }
        }

        .card-end {



          .btn {
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: normal;
            background-color: transparent;
            border: $redColor 1px solid;

            color: $lightColor;
            padding: 6px 8px;
          }
        }
      }
    }
  }




  .shop-heading-image {
    h1 {
      font-size: 18px;
      line-height: 150px;

      color: $lightColor;


      span {
        font-size: 30px;
        line-height: 150px;

        color: $redColor;
      }
    }
  }

}

@include mediaLandscape {}

@include mediaXlLandscape {}

@include mediaSmLandscape {}
