.top-grid h2 {
    position: absolute;
    z-index: 1;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding: 5px;
}

.top1 {
    margin-top: 260px;
    margin-left: 70px;
}

.top2 {
    margin-top: 130px;
    margin-left: 500px;
}

.top3 {
    margin-top: 450px;
    margin-left: 250px;
}

.top4 {
    margin-top: 0px;
    margin-left: 150px;
}

.top5 {
    margin-top: -100px;
    margin-left: 580px;
    text-align: left;
}

.top6 {
    margin-top: 250px;
    margin-left: 250px;
}

.top7 {
    margin-top: 150px;
    margin-left: 100px;
    text-align: left;
}

@media screen and (min-width: 991px) and (max-width: 1199.9px) {
    .top1 {
        margin-top: 230px;
        margin-left: 30px;
    }

    .top2 {
        margin-top: 80px;
        margin-left: 300px;
    }

    .top3 {
        margin-top: 280px;
        margin-left: 130px;
    }

    .top4 {
        margin-top: 0px;
        margin-left: 150px;
    }

    .top5 {
        margin-top: -80px;
        margin-left: 400px;
        text-align: left;
    }

    .top6 {
        margin-top: 160px;
        margin-left: 170px;
    }

    .top7 {
        margin-top: 120px;
        margin-left: 50px;
        text-align: left;
    }
}

@media screen and (min-width: 767px) and (max-width: 990.9px) {
    .top-grid h2 {
        position: absolute;
        z-index: 1;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: normal;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }

    .top1 {
        margin-top: 150px;
        margin-left: 12px;
    }

    .top2 {
        margin-top: 60px;
        margin-left: 220px;
    }

    .top3 {
        margin-top: 200px;
        margin-left: 90px;
    }

    .top4 {
        margin-top: 0px;
        margin-left: 75px;
    }

    .top5 {
        margin-top: -60px;
        margin-left: 250px;
    }

    .top6 {
        margin-top: 120px;
        margin-left: 85px;
    }

    .top7 {
        margin-top: 90px;
        margin-left: 25px;
    }
}

@media screen and (max-width: 766.9px) {
    .top-grid h2 {
        position: absolute;
        z-index: 1;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: normal;
        letter-spacing: 0.1em;
        text-align: left;
        color: #FFFFFF;
    }

    .top1 {
        margin-top: 480px;
        margin-left: 200px;
    }

    .top2 {
        margin-top: 100px;
        margin-left: 350px;
    }


    .top3 {
        margin-top: 20px;
        margin-left: 20px;
    }

    .top4 {
        margin-top: 20px;
        margin-left: 230px;
    }

    .top5 {
        margin-top: 350px;
        margin-left: 300px;
    }

    .top6 {
        margin-top: 20px;
        margin-left: 120px;
    }

    .top7 {
        margin-top: 20px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 700.9px) {

    .top4 {
        margin-top: 20px;
        margin-left: 180px;
    }

    .top6 {
        margin-top: 20px;
        margin-left: 95px;
    }
}

@media screen and (max-width: 560.9px) {
    .top-grid h2 {
        position: absolute;
        z-index: 1;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: normal;
        letter-spacing: 0.1em;
        text-align: left;
        color: #FFFFFF;
    }

    .top1 {
        margin-top: 450px;
        margin-left: 180px;
    }

    .top2 {
        margin-top: 80px;
        margin-left: 280px;
    }

    .top3 {
        margin-top: 20px;
        margin-left: 20px;
    }

    .top4 {
        margin-top: 20px;
        margin-left: 180px;
    }

    .top5 {
        margin-top: 280px;
        margin-left: 240px;
    }

    .top6 {
        margin-top: 20px;
        margin-left: 100px;
    }

    .top7 {
        margin-top: 20px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 450px) {
    .top-grid h2 {
        position: absolute;
        z-index: 1;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 22px;
        line-height: normal;
        letter-spacing: 0.1em;
        text-align: left;
        color: #FFFFFF;
    }

    .top1 {
        margin-top: 320px;
        margin-left: 120px;
    }

    .top2 {
        margin-top: 60px;
        margin-left: 230px;
    }

    .top3 {
        margin-top: 460px;
        margin-left: 260px;
    }

    .top4 {
        margin-top: 20px;
        margin-left: 150px;
    }

    .top5 {
        margin-top: 250px;
        margin-left: 180px;
    }

    .top6 {

        margin-top: 130px;
        margin-left: 40px;
    }

    .top7 {
        margin-top: 50px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 375px) {
    .top-grid h2 {
        position: absolute;
        z-index: 1;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 22px;
        line-height: normal;
        letter-spacing: 0.1em;
        text-align: left;
        color: #FFFFFF;
    }

    .top1 {
        margin-top: 300px;
        margin-left: 20px;
    }

    .top2 {
        margin-top: 60px;
        margin-left: 180px;
    }

    .top3 {
        margin-top: 380px;
        margin-left: 200px;
    }

    .top4 {
        margin-top: 20px;
        margin-left: 100px;
    }

    .top5 {
        margin-top: 210px;
        margin-left: 150px;
    }

    .top6 {

        margin-top: 110px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 320px) {
    .top-grid h2 {
        position: absolute;
        z-index: 1;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: normal;
        letter-spacing: 0.1em;
        text-align: left;
        color: #FFFFFF;
    }

    .top1 {
        margin-top: 280px;
        margin-left: 80px;
    }

    .top2 {
        margin-top: 80px;
        margin-left: 170px;
    }

    .top3 {
        margin-top: 370px;
        margin-left: 200px;
    }

    .top4 {
        margin-top: 20px;
        margin-left: 100px;
        padding: 10px;
    }

    .top5 {
        margin-top: 200px;
        margin-left: 150px;
    }

    .top6 {

        margin-top: 100px;
        margin-left: 40px;
    }

    .top7 {
        margin-top: 40px;
        margin-left: 20px;
        padding: 10px;
    }
}